* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--clr-light-purple: #5f4e80;
	--clr-purple: #4B3D64;
	--clr-blue: #E2EFF3;
	--clr-black: #000;
	--clr-white: #fff;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

h1 {
	font-size: 4.0625rem;
	font-weight: 700;
}

h2 {
	font-size: 3.125rem;
}

p {
	font-size: 1.1875rem;
}

a {
	font-size: 1.1875rem;
	font-weight: 500;
}

.btn-primary {
	padding: .75em 1.75em;
	color: var(--clr-white);
	background-color: var(--clr-purple);
	border-radius: .5rem;
	width: max-content;
	text-decoration: none;
}

.btn-primary:hover {
	color: var(--clr-white);
	background-color: var(--clr-light-purple);
}

.btn-primary {
	padding: .75em 1.75em;
	color: var(--clr-white);
	background-color: var(--clr-purple);
	border-radius: .5rem;
	width: max-content;
	text-decoration: none;
}

.btn-primary:hover {
	color: var(--clr-white);
	background-color: var(--clr-light-purple);
}